@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&family=Poppins:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: #00425A;
    
}

h1{
    margin-bottom: 20%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 3rem;
    color: #fff;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home * {
    margin:0.5rem;

}

input{
    border-radius: 0.3rem;
    width: 18rem;
    height: 1.8rem;
    font-family: 'Poppins', sans-serif;
}

.button{
    color: aqua;

}

.btn{
    width: 7.5rem;
    height: 2.5rem;
    background-color: #1F8A70;
    border: none;
    border-radius: 1rem;
    color:#fff;

}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

a{
    color: #FC7300;   

}